body {
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.flex-body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90%;
  background: url("../images/unnamed.jpg") no-repeat;
  background-size: cover;
}

.flex-body-container .flex-contet {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0000005e;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-body-container .flex-contet .portfolio {
  width: 60%;
  height: 35em;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-body-container .flex-contet .portfolio .left-arrow {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 8px 0px 0px 8px;
  border-right: 2px solid black;
}

.flex-body-container .flex-contet .portfolio .right-arrow {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 0px 8px 8px 0px;
  border-left: 2px solid black;
}

.flex-body-container .flex-contet .portfolio .components-container {
  background-color: #fff;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.flex-body-container .flex-contet .portfolio .components-container h1 {
  text-align: center;
  font-size: 3em;
}

.flex-body-container .flex-contet .portfolio .components-container .component {
  max-width: 200px;
  width: 100%;
  background: aquamarine;
  text-align: center;
  border-radius: 3px;
}

.flex-body-container .flex-contet .portfolio .components-container .component .comp-link {
  text-decoration: none;
  font-weight: bolder;
  color: gray;
}

.flex-body-container .flex-contet .portfolio .components-container .component .comp-link:hover {
  color: darkgray;
}

.flex-body-container .flex-contet .about-me {
  width: 25em;
  background-color: #ffffff;
  border-radius: 10px;
}

.flex-body-container .flex-contet .about-me h3 {
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}

.flex-body-container .flex-contet .about-me .profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}

.flex-body-container .flex-contet .about-me .circle-clip {
  -webkit-clip-path: circle(40% at 50% 50%);
          clip-path: circle(40% at 50% 50%);
}

.flex-body-container .flex-contet .about-me p {
  padding: 20px;
  line-height: 1.5em;
}
/*# sourceMappingURL=main.css.map */